.scratch-base {
  cursor: default;
  position: absolute;
  cursor: grabbing;
  height: 150px;
  width: 140px;
  /* background-position: center;
  background-size: contain;
  background-repeat: no-repeat; */
  /* background-size: contain; */
  background-image: url("../raw/zonk.png");
}
#revealPrize {
  /* display: none; */
}
/* .scratch-base {
  line-height: 60px;
  text-align: center;
} */
canvas {
  /* position: absolute;
  top: 0;
  left: 0;
  cursor: grabbing;
  z-index: 1;
  height: 175px; */
  /* border: 2px solid yellow;
  width: 175px;
  height: 175px; */
  position: absolute;
  z-index: 1; 
margin-bottom: 20px;

}
/* #scratch {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.email-container {
  display: flex;
  flex-direction: row;
}

.pop-up {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
